openapi: 3.0.0

info:
  version: "1.0"
  title: "Event Nest"
  description: "Event Nest is a web application that allows users to create and manage events. It also allows users to join events created by other users and to invite other users to their own events."

servers:
  - url: "http://lbaw23144.lbaw.fe.up.pt/"
    description: "Production server"

tags:
  - name: M01-Authentication and Individual Profile.
    description:
      "Web resources associated with user authentication. Includes the following
      system features: login/logout, registration, view and edit personal
      profile information."
  - name: M02-Event.
    description:
      "Web resources associated with events. Includes the following system
      features: view,edit and delete events and add and remove people from the event."
paths:
  /login:
    get:
      operationId: R01-showLoginForm
      summary: "Show Login Form: PUB"
      responses:
        "200":
          description: "Ok. Show log-in UI"
      tags:
        - M01-Authentication and Individual Profile.

    post:
      operationId: R02-authenticate
      summary: "Authenticate User: PUB"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        "302":
          description: "Redirect after processing the login credentials."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication. Redirect to user profile."
                  value: "/users/{id}"
                302Error:
                  description: "Failed authentication. Redirect to login form."
                  value: "/login"
      tags:
        - M01-Authentication and Individual Profile.

  /logout:
    post:
      operationId: R03-logout
      summary: "Logout User: USER"
      responses:
        "302":
          description: "Redirect after processing logout."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful logout. Redirect to login form."
                  value: "/login"
      tags:
        - M01-Authentication and Individual Profile.

  /register:
    get:
      operationId: R04-showRegistrationForm
      summary: "Show Registration Form: PUB"
      responses:
        "200":
          description: "Ok. Show sign-up UI"
      tags:
        - M01-Authentication and Individual Profile.

    post:
      operationId: R05-register
      summary: "Register User: PUB"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                confirm_password:
                  type: string
              required:
                - name
                - username
                - email
                - password
                - confirm_password
      responses:
        "302":
          description: "Redirect after processing the new user information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful registration. Redirect to user profile."
                  value: "/users/{id}"
                302Failure:
                  description: "Failed registration. Redirect to registration form."
                  value: "/register"
      tags:
        - M01-Authentication and Individual Profile.

  /create:
    post:
      operationId: R06-createEvent
      summary: "Create Event: AUTH"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                type:
                  type: string
                date:
                  type: date
                  format: date-time
                capacity:
                  type: integer
                ticketlimit:
                  type: integer
                place:
                  type: string
              required:
                - title
                - description
                - type
                - date
                - capacity
                - ticketlimit
                - place
      responses:
        "200":
          description: "Ok. Event created successfully."
      tags:
        - M02-Event.

  /edit:
    post:
      operationId: R07-editEvent
      summary: "Edit Event: ADM or OWN"
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                title:
                  type: string
                description:
                  type: string
                type:
                  type: string
                date:
                  type: date
                  format: date-time
                capacity:
                  type: integer
                ticketlimit:
                  type: integer
                place:
                  type: string
              required:
                - id
      responses:
        "200":
          description: "Ok. Event edited successfully."
      tags:
        - M02-Event.

  /events/delete/{id}:
    delete:
      operationId: R08-deleteEvent
      summary: "Delete Event: ADM or OWN"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Event deleted successfully."
      tags:
        - M02-Event.

  /events/{id}/details:
    get:
      operationId: R09-showEventDetails
      summary: "Show Event Details: AUTH and ADM"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Show event details UI"
      tags:
        - M02-Event.

  /events/{id}/join:
    post:
      operationId: R10-joinEvent
      summary: "Join Event: AUTH"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: query
          name: userId
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Joined event successfully."
      tags:
        - M02-Event.

  /events/{id}/leave:
    post:
      operationId: R11-leaveEvent
      summary: "Leave Event: ATD"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: query
          name: userId
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. Left event successfully."
      tags:
        - M02-Event.

  /events/{id}/add:
    post:
      operationId: R12-addUserToEvent
      summary: "Add User to Event: ADM or OWN"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: query
          name: userId
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. User added to event successfully."
      tags:
        - M02-Event.

  /events/{id}/remove:
    post:
      operationId: R13-removeUserFromEvent
      summary: "Remove User from Event: ADM or OWN"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: query
          name: userId
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. User removed from event successfully."
      tags:
        - M02-Event.
  /events/search:
    get:
      operationId: R14-searchEvents
      summary: "Search Events: USER"
      parameters:
        - in: query
          name: search
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "A list of matching events"
      tags:
        - M02-Event.

  /events/{id}/invite:
    post:
      operationId: R15-inviteUserToEvent
      summary: "Invite User to Event: ATD or OWN"
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: query
          name: userId
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: "Ok. User invited to event successfully."
      tags:
        - M02-Event.
