.dashboard-section {
    display: inline-block;
    width: 49%;
    margin-right: 1%;
    border: 1px solid var(--main-color);
    padding: 10px;
}

.tabletitle {
    margin-top: 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid var(--main-color);
    padding: 8px;
}

.dashboard-section {
    width: 48%;
    float: left;
}

.dashboard-section:first-of-type {
    margin-left: 1.5%;
}

.dashboardtitle {
    color: var(--main-color);
}

.custom-link {
    color: var(--main-color);
    text-decoration: none;
    transition: font-size 0.3s ease;
}

.custom-link:hover {
    color: var(--main-color);
    font-size: 1.05em;
}
