.form-outline {
    width: 30%;
    margin: 0;
}

.form-control {
    background-color: #00603a66;
    height: 30px;
    border-radius: 8px;
}

.form-control::placeholder {
    color: var(--main-color);
}

.form-control:focus {
    background-color: #00603a66;
    color: var(--main-color);
    outline: none;
    box-shadow: none;
}

.content-container {
    width: 90%;
    margin: 2% auto;
    justify-content: left;
}

#main {
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
}

.box {
    flex: 1 0 calc(33.33% - 2%);
    margin-bottom: 2%;
}

a {
    text-decoration: none;
}