.content-container {
    max-width: 100%;
    /* Adjust the max-width as needed */
    padding: 20px;
}

.form-outline {
    margin-bottom: 20px;
    max-width: 40%;
    margin-left: 20px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: stretch;
    /* Make items stretch to the full height */
}

.box {
    flex: 1 0 calc(33.333% - 100px);
    /* Adjust the width and gap as needed */
    max-width: calc(33.333% - 100px);
    /* Add this line to limit the width */
    box-sizing: border-box;
    margin: 20px;
}

.card {
    height: 100%;
}


#form1 {
    margin-bottom: 2%;
    background-color: #00603a66;
    height: 30%;
    border-radius: 8px;
}

#form1::placeholder {
    color: var(--main-color);
}

#form1:focus {
    background-color: #00603a66;
    color: var(--main-color);
    outline: none;
    box-shadow: none;
}

.filters {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.filters .btn {
    margin-top: 0;
}