#created,
#joined,
#favorite,
#attended {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
}

/* Style for the headers */
h1 {
    text-align: center;
}

h2 {
    color: var(--main-color);
    /* Adjust the color as needed */
    border-bottom: 2px solid var(--main-color);
    /* Underline for section headers */
    padding-bottom: 5px;
}


.card {
    width: 100%;
}

.usertitle {
    color: var(--main-color);
    margin-top: 1%;
    margin-bottom: 2%;
}

.myevents {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: stretch;
    /* Make items stretch to the full height */
}

.myevents .box {
    max-width: calc(100% - 40px);
    box-sizing: border-box;
    margin-bottom: 6%;
}