.navbar {
    height: 15%;
    background-color: var(--main-color);
}

.navbar .btn-custom:hover {
    background-color: #00603a23;
    color: var(--background-color);
    border: 1px solid var(--background-color);
}

.navbar img {
    max-height: 50%;
    max-width: 50%;
    margin: 5%;
    margin-left: 15%;
    position: relative;
}

.btn {
    max-width: 100%;
    margin: 0;
    width: 100%;
}

.navbar-expand-lg .navbar-nav {
    margin-left: auto;
    align-items: end;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item {
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    img {
        max-height: 30%;
        max-width: 30%;
        margin: 3%;
    }

    .navbar-nav .nav-item {
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    img {
        max-height: 20%;
        max-width: 20%;
        margin: 2%;

    }

    .navbar-nav .nav-item {
        margin-right: 5px;
    }
}